<div>
	<h1 class="padding-bottom">Big XII Career and Graduate School Fair</h1>
	<div class="questions padding-bottom">
		<h3>Is your company or graduate institution seeking diverse student leaders?</h3>
		<h3>Are you looking for innovative students who are prepared<br/> to make a positive impact on our nation?</h3>
	</div>
	<div class="paragraph monteserrat">
		<p>The University of Texas at Austin and the Black Student Alliance will host the 40 Annual Big XII Conference on Black Student Government from February 16-18, 2017.  During the conference a Career and Graduate School Fair will occur and we invite your company or graduate school to attend.  Your company or institution will receive the following benefits from attending Big XII Career and Graduate Fair:</p>
		<ul>
			<li>Make connections with more than 1,000 African/African American students.</li>
			<li>Inform students of career opportunities within a diverse global environment.</li>
			<li>Showcase your commitment to influence the lives of students and our nation.</li>
			<li>Your description and logo will be printed in the Big XII Conference Program Booklet.</li>
		</ul>
		<hr>
	</div>
</div>
<div class="career-fair-info text-align-left padding-bottom">
	<h3>Date</h3>
	<div class="monteserrat padding-bottom-2x">Friday, February 17, 2017 from 9:00 am- 4:00 pm</div>
	<h3>Location</h3>
	<div class="monteserrat padding-bottom-2x">The University of Texas Campus</div>
	<h3>Cost</h3>
	<div class="cost-table padding-bottom-2x">
		<table class="monteserrat">
			<tr><td><b>Options</b></td><td><b>Platinum $1500</b></td><td><b>Gold $1000</b></td><td><b>Silver $400</b></td></tr>
			<tr><td>Reserved Booth at Career Fair</td><td>&#x2713</td><td>&#x2713</td><td>&#x2713</td></tr>
			<tr><td>Student Resume Folder</td><td>&#x2713</td><td>&#x2713</td><td></td></tr>
			<tr><td>Hospitality Suites, Coffee Chats, Info Sessions or Dinner</td><td>&#x2713</td><td></td><td></td></tr>
		</table>	
	</div>
</div>
<div class="btn-wrapper">
	<a class="btn btn-default" target="__blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdjO4GxHr99uKIr0aUDYtJDkmjHUgEfvZXQnAC-JNQTMV8etw/viewform">Register and Make Credit Card Payment</a>
</div>