<h3>Primary Contact</h3>
<div class="speaker-row">
	<img class="speaker-image" src="images/burt.jpg" alt="Brenda Burt">
	<div class="speaker-item">
		<h3>Brenda Burt</h3>
		<p class="monteserrat">
		Lecturer & Director of Undergraduate & Alumni Relations<br/>
		African and African Diaspora Studies Department<br/>
		512-475-7971<br/>
		<a href="princekwame@Austin.utexas.edu">princekwame@austin.utexas.edu</a></p>
	</div>
</div>

<h3>Social Media</h3>
<a class="twitter-timeline" data-height="800" data-link-color="#cf5300" href="https://twitter.com/UTBigXII2017">Tweets by UTBigXII2017</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>