<div class="speaker-row">
	<img class="speaker-image float-left" src="images/harper.png" alt="Dr. Shaun Harper">
	<div class="speaker-item">
		<h3>Dr. Shaun Harper</h3><br/>
		<p class="monteserrat">A nationally recognized, justice-driven higher education researcher with prior professional experiences in undergraduate student affairs and advising, graduate recruitment and admissions, academic program administration, and university teaching, sessional associations via committees, conference presentations, and board memberships.</p>
		<a href="https://twitter.com/DrShaunHarper" class="monteserrat">@DrShaunHarper</a>
	</div>
</div>
<div class="speaker-row">
	<img class="speaker-image" src="images/richards.png" alt="Sanya Richards">
	<div class="speaker-item">
		<h3>Sanya Richards</h3><br/>
		<p class="monteserrat">A nationally recognized, justice-driven higher education researcher with prior professional experiences in undergraduate student affairs and advising, graduate recruitment and admissions, academic program administration, and university teaching, sessional associations via committees, conference presentations, and board memberships.</p>
		<a href="https://twitter.com/SanyaRichiRoss" class="monteserrat">@SanyaRichiRoss</a>
	</div>
</div>
<div class="speaker-row">
	<img class="speaker-image" src="images/redding.png" alt="Corey Redding">
	<div class="speaker-item">
		<h3>Corey Redding</h3><br/>
		<p class="monteserrat">
		A nationally recognized, justice-driven higher education researcher with prior professional experiences in undergraduate student affairs and advising, graduate recruitment and admissions, academic program administration, and university teaching, sessional associations via committees, conference presentations, and board memberships.</p>
		<a href="https://twitter.com/CRedd90" class="monteserrat">@CRedd90</a>
	</div>
</div>
<div class="speaker-row">
	<img class="speaker-image" src="images/sprinkles.png" alt="Jonathan Sprinkles">
	<div class="speaker-item">
		<h3>Jonathan Sprinkles</h3><br/>
		<p class="monteserrat">A nationally recognized, justice-driven higher education researcher with prior professional experiences in undergraduate student affairs and advising, graduate recruitment and admissions, academic program administration, and university teaching, sessional associations via committees, conference presentations, and board memberships.</p>
		<a href="https://twitter.com/jsprinkles" class="monteserrat">@jsprinkles</a>
	</div>
</div>