<div class="speaker-row">
	<img class="speaker-image float-left" src="images/april_reign.jpg" alt="April Reign">
	<div class="speaker-item">
		<h3>April Reign</h3>
		<p class="monteserrat">April Reign practiced law for twenty years, honing her talent for public speaking and persuasive writing, but it wasn't until she walked away from her legal practice that she found her true passion.<br/><br/>
		Now, as Managing Editor of Broadway Black and Editor at Large of NU Tribe Magazine, Reign is able to capitalize on her strengths and pursue her calling, using her voice to spark dialogue and explore issues of race, politics and culture.<br/><br/>
		As the Creator of the viral hashtag #OscarsSoWhite, April Reign challenges the lack of representation of marginalized communities in Hollywood and beyond. Reign sustains a movement that has resulted in the most systemic change ever seen in the over 80-year history of the Academy of Motion Picture Arts and Sciences. April Reign owned her opportunity, the results of which are reverberating throughout the entertainment industry.<br/><br/>
		Reign is an influential and sought-after digital media presence, having built an organic following of over 50,000 worldwide. April Reign now travels the country speaking at academic institutions and consulting with organizations regarding issues of diversity and inclusion.</p>
		<a href="https://twitter.com/ReignOfApril" class="monteserrat">@ReignOfApril</a>
	</div>
</div>