<h3></h3>
<p class="monteserrat">We are now accepting applications for <a href="docs/2017 Big XII Conference on Black Student Government Cash Awards Packet .pdf">Cash Awards</a> and <a href="docs/2017 Big XII Conference on Black Student Government Recognition Awards.pdf">Recognition Awards</a>.</p>
<p class="monteserrat">Deadline for both applications is January 30, 2017.</p>
<p class="monteserrat">The Awards Committee of the Big XII Conference on Black Student Government is pleased to accept applications for the following <a href="docs/2017 Big XII Conference on Black Student Government Cash Awards Packet .pdf">cash awards</a>:</p>
<ul class="monteserrat padding-bottom">
	<li>Dyric Burt Big XII Outstanding Freshman of the Year</li>
	<li>Outstanding Big XII Sophomore of the Year</li>
	<li>Outstanding Big XII Junior of the Year</li>
	<li>Outstanding Big XII Senior of the Year</li>
	<li>Outstanding Non Big XII Freshman of the Year</li>
	<li>Outstanding Non Big XII Sophomore of the Year</li>
	<li>Outstanding Non Big XII Junior of the Year</li>
	<li>Robert Page, Jr. Award for Outstanding Non Big XII Senior of the Year</li>
	<li>Clarence Wine Outstanding Big XII Council of the Year</li>
	<li>Most Improved Big XII Council of the Year</li>
	<li>Robert Page, Jr. Award for Outstanding Non Big XII Council of the Year</li>
</ul>
<p class="monteserrat">The Awards Committee of the Big XII Conference on Black Student Government is pleased to accept applications for the following <a href="docs/2017 Big XII Conference on Black Student Government Recognition Awards.pdf">recognition awards</a>:</p>
<ul class="monteserrat">
	<li>Clarence Wine Outstanding Big XII Council of the Year</li>
	<li>Most Improved Big XII Council of the Year</li>
	<li>Robert Page, Jr. Award for Outstanding Non Big XII Council of the Year</li>
</ul>