<div class="padding-around">
	<p class="monteserrat">We are looking forward to your participation in the 2017 Big XII Conference on Black Student Government. Registration is on a first come, first serve basis.</p>
</div>
<div class="padding-around">
	<h3>Room Reservations</h3>
	<p class="monteserrat">The AT&T Executive Education and Conference Center is the conference host hotel. We have reserved the entire hotel for the conference at $155 per night (tax not included).</p>
	<p class="monteserrat">For reservations visit <a href="https://resweb.passkey.com/go/UTLIBA0217">https://resweb.passkey.com/go/UTLIBA0217</a>.</p>
	<p class="monteserrat">Please make room reservations directly with the hotel by <b>Feb 01, 2017</b>. This is the final day to make room reservations.</p>
</div>
<div class="padding-around">
	<h3>Conference Costs</h3>
	<div class="text-align-left">
		<div class="cost-table">
			<table class="monteserrat registration-table">
			<tr><td><b>Registration Type</b></td><td><b>Early: Before Feb 10 2017</b></td><td><b>Late: After Feb 10, 2017</b></td></tr>
			<tr><td>Big XII Delegates</td><td>$210.00</td><td>$260.00</td></tr>
			<tr><td>Big XII Schools</td><td>$220.00</td><td>$270.00</td></tr>
			<tr><td>Non-Big XII Schools</td><td>$230.00</td><td>$280.00</td></tr>
			<tr><td>Advisors</td><td>$250.00</td><td>$300.00</td></tr>
			<tr><td>Activity Pass</td><td>$40.00</td><td>$40.00</td></tr>
		</table><br/>	
		</div>
	</div>
	<p class="monteserrat">You must be registered prior to attending the conference. NO ON SITE registration will be permitted.</p>
</div>
<div>
	<h3>Conference Registration Instructions</h3>
	<p class="monteserrat">
		[Please have these instructions and tips while registering]
		<ol class="monteserrat">
			<b><li>Complete the BIG XII Registration Form</li></b>
			<ol type="a"><li>Make sure you have all student/participant information before accessing the form (names, emails, contact numbers, etc.)</li>
				<li>Collect all t-shirt sizes and food preferences before accessing the form</li>
				<li>Access www.movement2017.com</li>
				<li>Click Registration</li>
				<li>Be sure to complete all required fields on the form</li>
				<li>Click Submit</li>
			</ol><br/>
			<b><li>Pay Registration Fees</li></b>
			<ol type="a">
				<li>Proceed to http://tinyurl.com/movement2017registration</li>
				<li>Choose the “Conference Registration” under category</li>
				<li>Select the item that you would like to add to your cart.</li>
				<li>Once selected add the number of participants that you would like that particular registration fee associated. You must click “Add to cart” or it will not add to your cart while you continue to shop</li>
				<li>Please add any additional items to your cart
				<li>Once you have added all of the appropriate registrations and activity passes to your cart please continue to the “Checkout” page of the website.</li>
				<li>Please complete all required forms during this process.</li>
			</ol><br/>
			<b><li>Registration Confirmation</li></b>
			<ol type="a">
				<li>Conference Staff will contact schools via email within 48 hours with your registration confirmation.</li>
			</ol>
	</p>
</div>
<div style="padding: 10px 10px 0 10px">
	<h3>Conference Registration Form</h3>
	<p class="monteserrat">Please click the button below to complete your registeration form. Payment is due at the time of registration. <b>We will only accept payment by credit card.</b> After you have sumbitted your form, you will be redirected to the payment page to complete your registration via credit card.</p>
	<p class="monteserrat">Cancellation Policy: NO REFUNDS will be given if your attendance is not possible (substitutions are acceptable but must be pre-approved by the registration committee).</p>
</div>
<div class="btn-wrapper">
	<a class="btn btn-default" target="__blank" href="http://utdirect.utexas.edu/txshop/list.WBX?component=0&application_name=AXCFBSGC"><b>Register For The Conference</b></a>
</div>