<div class="schedule-text" style="{ float: left; display: inline; }">
	<div class="padding-around">
		<h3>Thursday, February 16, 2017</h3>
		<p class="monteserrat">
		2:00 p.m. - 8:00 p.m. Check-In &amp; Registration
		<br/>6:00 p.m. Candlelight Vigil &amp; Leadership March
		<br/>7:30 p.m. Opening Ceremony
		<br/>9:00 p.m. - 11:00 p.m. Movie Night/Social Activity
		</p>
	</div>
	<div class="padding-around">
		<h3>Friday, February 17, 2017</h3>
		<p class="monteserrat">
		7:00 a.m. - 10:00 a.m. Check-In &amp;
		<br/>Registration 8:00 a.m. Breakfast &amp; Keynote Speaker
		<br/>9:00 a.m. - 5:00 p.m. Career/Graduate Fair
		<br/>9:45 a.m. - 11:45 a.m. Morning Workshops
		<br/>12:00 p.m. - 1:00 p.m. Lunch &amp; Keynote Speaker
		<br/>1:00 p.m. - 2:00 p.m. Free Time<br/>2:00 p.m. - 4:30 p.m. Afternoon Workshops
		<br/>6:00 p.m. - 8:00 p.m. Dinner &amp; Keynote Speaker
		<br/> 8:00 p.m. - 9:30 p.m. Gospel Extraveganza
		<br/>9:00 p.m. - 11:00 p.m. Conference Entertainment/Alternative Social
		<br/>11:30 p.m. - 2:00 a.m. Conference Social Event/Alternative Social
		<br/>11:30 p.m. - until Advisors' Social
		</p>
	</div>
	<div class="padding-around">
		<h3>Saturday, February 18, 2017</h3>
		<p class="monteserrat">
		7:00 a.m. - 10:00 a.m. Check-In &amp; Registration
		<br/>8:00 a.m. Breakfast &amp; Keynote Speaker
		<br/>9:45 a.m. - 11:45 a.m. Morning Workshops
		<br/>12:00 p.m. Lunch &amp; Keynote Speaker
		<br/>1:00 p.m. - 2:00 p.m. Free Time
		<br/>2:00 p.m. - 4:30 p.m. Afternoon Workshops
		<br/>6:00 p.m. - 8:00 p.m. Dinner, Banquet, &amp; Keynote Speaker
		<br/>9:00 p.m. - 11:00 p.m. Conference Entertainment/Alternative Social
		<br/>11:30 p.m. - 2:00 a.m. Conference Social Event/Alternative Social
		<br/>11:30 p.m. - until Advisors' Social
		</p>
	</div>
</div>