<div class="page padding-around">
	<div class="schedule-text" style="{ float: left; display: inline; }">
		<div>
			<h3>Thursday, February 16, 2017</h3>
			<div class="cost-table padding-bottom">
				<table class="monteserrat registration-table">
				<tr><td>2:00 p.m. - 8:00 p.m.</td><td>Check-In &amp; Registration</td></tr>
				<tr><td>5:45 p.m.</td><td>Line-up for March and Pick-up School Banners</td></tr>
				<tr><td>6:00 p.m.</td><td>Candlelight Vigil &amp; Leadership March</td></tr>
				<tr><td>7:30 p.m.</td><td>Opening Ceremony</td></tr>
				<tr><td>9:00 p.m. - 11:00 p.m.</td><td>Karaoke Night</td></tr>
				</table>
			</div>
		</div>
		<a href="images/Roll Call.png" data-lightbox="Roll Call" data-title="Roll Call"><img class="event-image padding-bottom-max" data-lightbox="events" src="images/Roll Call.png"></a>
		<div>
			<h3>Friday, February 17, 2017</h3>
			<div class="cost-table padding-bottom">
				<table class="monteserrat registration-table">
				<tr><td>7:00 a.m. - 10:00 a.m.</td><td>Check-In &amp; Registration</td></tr>
				<tr><td>8:00 a.m. - 9:25 a.m.</td><td>Breakfast &amp; Keynote Speaker - Jonathan Sprinkles</td></tr>
				<tr><td>9:00 a.m. - 4:00 p.m.</td><td>Career/Graduate Fair</td></tr>
				<tr><td>9:30 a.m. - 11:45 a.m.</td><td>Morning Workshops</td></tr>
				<tr><td>12:00 p.m. - 1:30 p.m.</td><td>Lunch &amp; Keynote Speaker - Tam Hawkins</td></tr>
				<tr><td>1:30 p.m. - 2:00 p.m.</td><td>Networking and Stretch Break</td></tr>
				<tr><td>2:00 p.m. - 4:15 p.m.</td><td>Afternoon Workshops</td></tr>
				<tr><td>4:30 p.m. - 6:00 p.m.</td><td>Free Time</td></tr>
				<tr><td>6:00 p.m. - 8:00 p.m.</td><td>Dinner &amp; Keynote Speaker - Marlen D. Whitley</td></tr>
				<tr><td>8:00 p.m. - 9:30 p.m.</td><td>Gospel Extravaganza</td></tr>
				<tr><td>10:30 p.m. - 1:00 a.m.</td><td>Conference Entertainment: Mardi Gras Party</td></tr>
				<tr><td>11:00 p.m. - 1:00 a.m.</td><td>Advisors' Social</td></tr>
				</table>	
			</div>
		</div>
		<a href="images/Gospel.png" data-lightbox="Gospel" data-title="Gospel"><img class="event-image padding-bottom" data-lightbox="events" src="images/Gospel.png"></a>
		<a href="images/Mardi Gras.png" data-lightbox="Mardi Gras" data-title="Mardi Gras"><img class="event-image padding-bottom-max" data-lightbox="events" src="images/Mardi Gras.png"></a>
		<div>
			<h3>Saturday, February 18, 2017</h3>
			<div class="cost-table padding-bottom">
			<table class="monteserrat registration-table">
			<tr><td>7:00 a.m. - 10:00 a.m.</td><td>Check-In &amp; Registration</td></tr>
			<tr><td>8:00 a.m. - 9:25 a.m.</td><td>Breakfast &amp; Keynote Speaker - Payton Head</td></tr>
			<tr><td>9:30 a.m. - 11:45 a.m.</td><td>Morning Workshops</td></tr>
			<tr><td>12:00 p.m. - 1:30 p.m.</td><td>Lunch &amp; Keynote Speaker - April Reign</td></tr>
			<tr><td>1:30 p.m. - 2:00 p.m.</td><td>Networking and Stretch Break</td></tr>
			<tr><td>2:00 p.m. - 4:15 p.m.</td><td>Afternoon Workshops</td></tr>
			<tr><td>4:30 p.m. - 6:00 p.m.</td><td>Free Time</td></tr>
			<tr><td>6:00 p.m. - 8:30 p.m.</td><td>Awards Banquet, Dinner, &amp; Keynote Speaker - SaulPaul</td></tr>
			<tr><td>9:00 p.m. - 1:00 a.m.</td><td>Black Appreciation Gala + Casino Night immediately after dinner</td></tr>
			<tr><td>9:30 p.m. - 11:30 p.m.</td><td>Advisors' Social dinner</td></tr>
			</table>
			</div>
		</div>
	</div>
	<a href="images/Royalty.png" data-lightbox="Royalty" data-title="Black Appreciation Gala"><img class="event-image padding-bottom" data-lightbox="events" src="images/Royalty.png"></a>
	<div class="btn-wrapper">
	<a class="btn btn-default" target="__blank" href="docs/Schedule - 40th Annual Big XII Conference on Black Student Government FINAL.pdf"><b>View PDF Version</b></a>
</div>
</div>