<div class="padding-bottom">
	<h3>Prospective Sponsors</h3>
	<blockquote class="monteserrat">
	Dear Prospective Sponsor:<br/>
	<br/>
	We are pleased to announce the 40th Annual Big XII Conference on Black Student Government will be held on February 16-18, 2017, AT&T Conference Center at The University of Texas at Austin, hosted by the UT Black Student Alliance.<br/>
	<br/>
	The purpose of the Big XII Conference is to serve as an opportunity for African American students from both Big XII Conference and non-Big XII Conference institutions to unite in one location with an atmosphere that cultivates opportunity, leadership, networking, and career building. These phenomenal students attend political, social, financial and career-related workshops where they exchange and learn a wide range of knowledge and skills.<br/>
	<br/>
	This year’s theme, “Making the Movement Matter,” aims to foster a spirit of physical, intellectual, and spiritual development. By the end of the Conference, we hope to be a source of inspiration and empowerment for the students through 6 dynamic keynote speakers and over 65 concurrent sessions at the first and largest conference planned by and for Black students.<br/>
	<br/>
	We invite you to support the Conference by sponsoring one or more meals, speakers, or by providing in-kind donations.  Your contributions will allow us to have a successful conference leaving a beneficial experience for not only the students, but for your company as well. In return for your generous contribution, your company will be recognized as a sponsor or a donor. A complete list of commitment categories and benefits are listed within this sponsorship packet.<br/>
	<br/>
	We believe that your sponsorship of the Conference will be of great benefit because it will generate a unique marketing opportunity for your company.  We anticipate that we will have 800-1,000 participants, representing the greater Midwest and Southern regions.  Moreover, your support will highlight your organization’s services, products, public relations and philanthropic endeavors.<br/>
	<br/>
	If you have any questions or need additional information about sponsoring opportunities, please contact Mrs. Brenda Burt directly at princekwame@mail.utexas.edu or you can visit our website at <a href="movement2017.com">movement2017.com</a>.<br/>
	<br/>
	Thank you in advance for your generous support and we look forward to partnering with you to make this Conference a success.<br/>
	<br/>
	Respectfully submited,<br/>
	<br/>
	<span class="lucida">Mrs. Brenda Burt</span><br/>
	<br/>
	Brenda Burt, Advisor<br/>
	40th Annual Big XII Conference on Black Student Government<br/>
	<br/>
	Lecturer & Director of Undergraduate and Alumni Relations<br/>
	Department of African and African Diapora Studies<br/>
	The University of Texas at Austin
	</blockquote>
</div>
<div class="padding-bottom">
	<h3>Participating Schools</h3>
		<p class="monteserrat">University of Missouri, University of Oklahoma, Oklahoma State University, University of Kansas, Kansas State University, Iowa State University, Baylor University, The University of Texas at Austin and numerous Non Big XII Institutions</p>
</div>
<div>
	<h3>Sponsorship Details</h3>
</div>
<div class="cost-table padding-bottom-2x">
	<table class="monteserrat">
		<tr><td><b>Level</b></td></td><td><b>Sponsorship Amount</b></td></tr>
		<tr><td>Movement Sponsor</td><td>$50,000+</td></tr>
		<tr><td>Power Sponsor</td><td>$30,000</td></tr>
		<tr><td>Dynamic Sponsor</td><td>$15,000</td></tr>
		<tr><td>Coalition Sponsor</td><td>$7,500</td></tr>
		<tr><td>Support Sponsor</td><td>$2,500</td></tr>
		<tr><td>Gratuitous Sponsor</td><td>$500+</td></tr>
	</table>	
</div>
<div class="cost-table padding-bottom-2x">
	<table class="monteserrat">
		<tr><td><b>Benefits</b></td><td><b>Movement Sponsor</b></td><td><b>Power Sponsor</b></td><td><b>Dynamic Sponsor</b></td><td><b>Coalition Sponsor</b></td><td><b>Support Sponsor</b></td><td><b>Gratuitious Sponsor</b></td></tr>
		<tr><td><b>Career Fair Booth Space</b></td><td>2 Tables & private interview room</td><td>2 Tables</td><td>1 Table</td><td>1 Table</td><td></td><td></td></tr>
		<tr><td><b>Program Advertisement</b></td><td>Full Page & Premium Placement</td><td>Full Page</td><td>2/3 Page</td><td>1/2 Page</td><td>1/3 Page</td><td>1/3 Page</td></tr>
		<tr><td><b>Logo on Conference Website</b></td><td>Home page banner,rotating banner & sponsor page placement</td><td>Rotating banner & sponsor page placement</td><td>Rotating banner & sponsor page placement</td><td>Rotating banner & sponsor page placement</td><td>Sponsor Page</td><td></td></tr>
		<tr><td><b>Conference Registrations</b></td><td>4</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
		<tr><td><b>Signage at large events (i.e. dinners, banquet, etc)<b/></td><td>Large solo banner displayed at large events</td><td>Group banner and small solo banner</td><td>Group Banner</td><td>Group Banner</td><td></td><td></td></tr>
	</table>	
</div>
<div>
	<h3>Payment Instructions</h3>
	<p class="monteserrat"><b>SPONSORSHIP PAYMENT IS ACCEPTED ON-LINE VIA CREDIT CARD</b><br/>
		<br/>
		<b>UT College of Liberal Arts Gift Page</b><br/>
		<br/><b>Select Sub Department</b> Big XII 2017 Career Fair Registration<br/>
		<b>Amount</b> ($)enter the amount of Sponsorship<br/>
		<b>Click on Continue</b>
		<br/>
		<br/>
		THANK YOU FOR YOUR COMMITMENT!<br/>
	<p>
	<div class="btn-wrapper no-margin">
		<a class="btn btn-default" target="__blank" href="https://utdirect.utexas.edu/apps/utgiving/online/nlogon/?menu=LABX">Sponsorship Registration</a>
	</div>
</div>