<div class="padding-around">
	<p class="monteserrat">
	Thank you for your interest in volunteering at the 40th Annual Big XII Conference on Black Student Government! Responsibilities of volunteers will include registration, hospitality, and workshop assistance. Click the button below to be redirected our the volunteer signup.
	<br/><br/>
	For questions, comments, or concerns, please contact Maranda Burkhalter: 
	<a href="marandaburkhalter@yahoo.com">marandaburkhalter@yahoo.com</a></p>
	<div class="btn-wrapper">
		<a class="btn btn-default" target="__blank" href="https://docs.google.com/a/utexas.edu/forms/d/1a7FrkUuaMdGMiuYbauQb7dbyH1xXhaj1DDh1NFg3OuA/edit?ts=588ab10a"><b>Volunteer</b></a>
	</div>
</div>
</div>