<div class="padding-around">
	<p class="monteserrat">
	Thank you for your interest in volunteering at the 40th Annual Big XII Conference on Black Student Government! Responsibilities of volunteers will include registration, hospitality, and workshop assistance. More specifically, volunteers will be assembling welcome packets, introducing workshop speakers, escorting attendees, setting up entertainment events, along with a number of other tasks. Please select all shifts that you are interested in volunteering for. You will receive specific instructions for what your duties will be as a volunteer during the shifts you have selected 1 week prior to the conference. 
	<br/><br/>
	For questions, comments, or concerns, please contact Maranda Burkhalter: 
	<a href="marandaburkhalter@yahoo.com">marandaburkhalter@yahoo.com</a></p>
	<div class="btn-wrapper">
		<a class="btn btn-default" target="__blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc9KC1TPH7BcmgCGSwVUVNCtRz-UjoL41E-_ZIfb-T15kxtLQ/viewform"><b>Volunteer</b></a>
	</div>
</div>
</div>