@font-face {
	font-family: BebasNeueRegular;
	src: url(../bebas/TTFs/BebasNeueRegular.ttf);
}
@font-face {
	font-family: BebasNeueBold;
	font-weight: bold;
	src: url(../bebas/TTFs/BebasNeueBold.ttf);
}
@font-face {
	font-family: BebasNeueThin;
	src: url(../bebas/TTFs/BebasNeueThin.ttf);
}
@font-face {
	font-family: BebasNeueBook;
	src: url(../bebas/TTFs/BebasNeueBook.ttf);
}

* {
	margin: 0;
}
html {
	height: 100%;
}
hr {
	background-color: #000;
	height: 1px;
}
body {
	color: #ffffff;
	font-family: BebasNeueRegular;
	font-size: 16px;
	height: 100%;
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: relative;
}
img {
	-webkit-filter: grayscale(0%);
	-webkit-transition: 1.5s ease-in-out;
	-moz-filter: grayscale(0%);
	-moz-transition: 1.5s ease-in-out;
	-o-filter: grayscale(0%);
	-o-transition: 1.5s ease-in-out;
	filter: grayscale(0%);	
}
img.desaturate { /* grayscale */
	-webkit-filter: grayscale(100%);
	-webkit-transition: 1.5s ease-in-out;
	-moz-filter: grayscale(100%); 
	-moz-transition: 1.5s ease-in-out;
	-o-filter: grayscale(100%); 
	-o-transition: 1.5s ease-in-out;
	filter: grayscale(100%);
}
p {
	margin: 0 auto;
}
.about-austin {
	margin: auto;
	width: 750px;
}
.about-austin img {
	width: 750px;
}
.about-austin:first-child {
	padding-top: 15px;
}
.btn {
	padding: 10px 14px;
}
.btn-default {
	color: #fff;
    font-size: 20px;
    background-color: #cf5300;
    border: none;
}
.btn-default:hover {
	color: #fff;
    font-size: 20px;
    background-color: #cf5300;
    border-color: #ccc;	
}
.btn-wrapper {
	clear: both;
	margin-top: 25px;
	text-align: center;
}
.caption {		
	background-color: rgba(0,0,0,1);
	color: #fff;
	padding: 12px 10px;
	position: relative;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	top: 50%;
}
.career-fair {
	background-color: #fff;
	color: #000;
	text-align: center;
}
.career-fair h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
.career-fair h1 {
	padding: 15px;
}
.career-fair table {
	text-align: left;
}
.career-fair p,
.career-fair table {
	display: inline-block;
	font-family: 'Monteserrat', sans-serif;
	font-size: 20px;
}
.career-fair-info {
	display: inline-block;
	float: left;
}
.career-fair-table td {
	padding-right: 15px;
	padding-top: 30px;
}
.career-fair-table tr {
}
.career-fair-table tr:first-of-type > td {
	padding-top: 0;
}
.career-fair-cost-table th,
.career-fair-cost-table td {
	border: 1px solid #000;
	font-size: 16px;
	text-align: center;	
	padding: 10px;
}
.center-text {
	text-align: center;
}
.container {
	padding: 0;
}
.cover {
	object-fit: cover;
}
.fixed-width {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.footer {
  	background-color: #000;
	height: 66px;
	margin: 0 auto;
	right: 0;
  	bottom: 0;
  	left: 0;
  	text-align: center;
  	width: 100%;
  	display: inline-block;
}
.push {
	height: 66px;
}
.footer p {
	display: block;
	float: left;
	padding: 3px 0 3px 15px;
	margin: 0 auto;
}
.footer-nav > li {
	display: block;
	float: left;
	padding-right: 15px;
}
.google-form iframe {
	height: 600px;
	width: 100%;
}
.header {
	background: #000000;
	float: left;
	font-size: 150%;
	z-index: 1;
	width: 100%;
}
.header ul {
	display: inline-table;
	padding: 0;
	float: left;
}
.header li {
	display: inline-block;
	float: left;
}
.home {
	background-color: #000;
}
.logo {
	width: 100%;
}
.logo img {
	width: 100%;
	object-fit: cover;
	object-position: 0 55%;
}
.monteserrat {
	font-family: "Monteserrat", sans-serif;
}
.nav {
	margin: 0;
}
.nav a {
	color: #fff;
	display: block;
	float: left;
}
.header > .nav a:hover {
	background-color: #cf5300;
}
.nav > li > a {
	padding: 10px 15px 6px 15px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}
.no-padding {
	padding: 0;
}
.padding-around {
	padding: 10px;
}
.padding-bottom {
	padding-bottom: 15px;
}
.padding-bottom-2x {
	padding-bottom: 30px;
}
.contact-page {
	color: #000;
	background-color: #fff;
	width: 750px;
	margin: 0 auto;
	padding: 80px 100px;
}
.contact-item {
	display: inline-block;
}
.contact-row {
	margin: auto;
	clear: both;
	width: 700px;
	position: absolute;
	top: 38vh;
	left: 17vw;
	right: 30vw;
	bottom: 20vh;
}
.contact-item {
	display; inline-block;
}
.page {
	color: #000;
	background-color: #fff;
	width: 750px;
	margin: 50px auto;
}
.page p {
	padding-bottom: 15px;
}
.page .about-austin p {
	padding-bottom: 50px;
}
.page .about-austin .slim-padding {
	padding-bottom: 15px;
}
.page-image {
	display: inline-block;
	height: 200px;
	position: relative;
	width: 100%;
}
.page-image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 20%;
}
.paragraph {
	padding-bottom: 15px;
	margin: auto;
	text-align: left;
}
.pointer {
	cursor: default;
}
.questions {
	padding-bottom: 15px;
}
.section-image {
	clear: both;
	height: 378px;
	margin-top: 10px;
	position: relative;
	width: 100%;
}
.section-image img {
	position: absolute;
	width: 100%;
	height: 100%;
}
.speaker {
	background-image: url(../images/speaker.png);
	height: 100%;
	width: 100%;
}
.speaker-image {
	width: 200px;
	height: 200px;
}
.speaker-item {
	padding: 5px 10px 10px 10px;
}
.speaker-page {
	padding: 100px 0;
}
.speaker-row {
	clear: both;
	padding-bottom: 100px;
	width: 100%;
	display: flex;
}
.speaker-row:last-child {
	padding-bottom: 0;
}
.stay-tuned {
	margin-top: 100px;
}
.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}
.text-lead {
	font-family: BebasNeueBold;
	font-size: 8vw;
	line-height: 85%;
	margin-top: 5px;
	position: relative;
}
.text-support {
	font-family: BebasNeueRegular;
	font-size: 2vw;
	line-height: 90%;
	margin-bottom: -6px;
	position: relative;
}
.thanks {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.thanks h4 {
	margin-bottom: 15px;
}
.thanks h4,
.thanks button {
	font-family: "Monteserrat", sans-serif;
}
.transition-left {
	transition: padding-left .25s ease;
}
.transition-left:hover {
	padding-left: 3%;
}
.transition-right {
	transition: padding-right .25s ease;
}
.transition-right:hover {
	padding-right: 3%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -66px;
}

.tower-image {
	object-position: 0 40%;
}
.computer-girl {
	object-position: 0 13%;
}
/* Ratio for photos is 2544x852 => 1200x387 */
