@font-face {
		font-family: BebasNeueRegular;
		src: url(../bebas/TTFs/BebasNeueRegular.ttf);
	}
	@font-face {
		font-family: BebasNeueBold;
		font-weight: bold;
		src: url(../bebas/TTFs/BebasNeueBold.ttf);
	}
	@font-face {
		font-family: BebasNeueThin;
		src: url(../bebas/TTFs/BebasNeueThin.ttf);
	}
	@font-face {
		font-family: BebasNeueBook;
		src: url(../bebas/TTFs/BebasNeueBook.ttf);
	}
	body {
		background: #000;
		color: #ffffff;
		font-family: BebasNeueRegular;
		margin: 0;
		padding: 0;
	}
	p {
		margin: 0;
	}
	.fixed-width {
		margin: 0 auto;
		width: 1200px;
	}
	.container {
		padding: 0;
	}
	.header {
		background: #000000;
		font-size: 200%;
		height: 50px;
	}
	.footer {
		height: 25px;
		width: 750px;
		margin: 0 auto;
	}
	.footer p {
		display: block;
		float: left;
		padding-left: 15px;
		margin: 0 auto;
	}
	.footer-nav > li {
		display: block;
		float: left;
		list-style: none;
		padding-right: 15px;
	}
	.nav {
		list-style: none;
		margin: 0;
		padding: 7px 0 0 15px;
	}
	.nav > li {
		display: block;
		float: left;
		padding-right: 15px;
	}
	.nav > li:hover {
		cursor: pointer;
		color: #cc5500;
	}
	.logo {
		width: 100%;
	}
	.section-image {
		height: 378px;
		margin-top: 10px;
		position: relative;
		width: 100%;
	}
	.section-image img {
		position: absolute;
	}
	.speaker {
		background-image: url(../images/speaker.png);
		height: 100%;
		width: 100%;
	}
	.no-padding {
		padding: 0;
	}
	.caption {		
		background-color: rgba(0,0,0,1);
		color: #fff;
		padding: 12px 10px;
		position: relative;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
		top: 50%;
	}
	.caption-left {
		transition: padding-left .25s ease;
		float: left;
		backface-visibility: hidden;
	}
	.caption-right {
		transition: padding-right .25s ease;
		float: right;
	}
	.caption:active {
		text-shadow: 2px 4px 3px #cc5500;
	}
	.caption-left:hover {
		padding-left: 3%;
	}
	.caption-right:hover {
		padding-right: 3%;
	}
	.text-lead {
		font-family: BebasNeueBold;
		font-size: 114px;
		line-height: 85%;
		margin-top: 5px;
		position: relative;
	}
	.text-support {
		font-family: BebasNeueRegular;
		font-size: 30px;
		line-height: 90%;
		margin-bottom: -6px;
		position: relative;
	}
	.text-align-left {
		text-align: left;
	}
	.text-align-right {
		text-align: right;
	}
	.noselect {
	  -webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	  -khtml-user-select: none;    /* Konqueror */
	  -moz-user-select: none;      /* Firefox */
	  -ms-user-select: none;       /* IE/Edge */
	  user-select: none;           /* non-prefixed version, currently
	    	                              not supported by any browser */
	}
	img.desaturate { /* grayscale */
		-webkit-filter: grayscale(100%);
		-webkit-transition: 1.5s ease-in-out;
		-moz-filter: grayscale(100%); 
		-moz-transition: 1.5s ease-in-out;
		-o-filter: grayscale(100%); 
		-o-transition: 1.5s ease-in-out;
		filter: grayscale(100%);
	}
	img {
		-webkit-filter: grayscale(0%);
		-webkit-transition: 1.5s ease-in-out;
		-moz-filter: grayscale(0%);
		-moz-transition: 1.5s ease-in-out;
		-o-filter: grayscale(0%);
		-o-transition: 1.5s ease-in-out;
		filter: grayscale(0%);	}
	.cover {
		object-fit: cover;
	}
	.tower-image {
		object-position: 0 40%;
	}
	.computer-girl {
		object-position: 0 13%;
	}
	/* Ratio for photos is 2544x852 => 1200x387 */